* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}


.container{
    max-width: 100%;
    background-color: #009CDE;
    height: 60px;
    margin: 0 auto;
}

.texto-termos{
    font-size: 48px;
    color: #F1F1F1;
    font-weight: bold;
    text-align: center;
}

.container-atualizacao{
    width: 436px;
    height: 41px;
    background-color: #D8D8D8 ;
    align-items: center;
    margin: 0 auto;
    margin-top: 0px;
   
}

.texto-atualizacao{
    font-size: 20px;
    color:#414141;
    text-align: center;
    padding: 7px;
}