.BlocoFundo {
    background-image: url('../Componentes/assets/imagens/Mar-Fundo-Bloco.jpg');
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat; 
    height: 100vh; 
    width: 100vw;
    margin: 0;
}

.IlhaImagem img {
    height: 100vh; 
    margin-bottom: -10px !important; 
}

.BlocoTomada .Bolinha1 {
    position: absolute;
    top: 50%;
    left: 9%;
}
.BlocoTomada .Bolinha2 {
    position: absolute;
    top: 13%;
    left: 25%;
}
.BlocoTomada .Bolinha3 {
    position: absolute;
    top: 8%;
    left: 40%;
}
.BlocoTomada .Bolinha4 {
    position: absolute;
    top: 14%;
    left: 52%;
}
.BlocoTomada .Bolinha5 {
    position: absolute;
    top: 47%;
    left: 49%;
}
.BlocoTomada .Bolinha6 {
    position: absolute;
    top: 36%;
    left: 29.5%;
}

.BlocoTomada .Bolinhas div {
    position: absolute;
    cursor: pointer;
    text-decoration: none !important;
    outline: none !important;
    font-family: 'Carter One', sans-serif;
    border-radius: 50%; /* Garante o formato redondo */
    width: 60px;
    font-size: 25px;
    line-height: 1em;
    letter-spacing: .1em;
    font-weight: 800;
    border: none;
    margin: 15px 15px 30px;
    background: #de234c; /* Red color matching .infoilha */
    border-bottom: 3px solid #a51e3f; /* Darker red */
    border-top: 3px solid #f44f65; /* Lighter red */
    color: #fff !important;
    padding: 15px;
    box-shadow: 0 6px 0 #9d1d37, 0 8px 1px 1px rgba(0, 0, 0, .3), 0 10px 0 5px #b43856, 0 12px 0 5px #992236, 0 15px 0 5px #8b1a2e, 0 15px 1px 6px rgba(0, 0, 0, .3);
    display: flex; /* Centraliza o texto */
    align-items: center;
    justify-content: center;
}

.BlocoTomada .Bolinhas div:hover {
    line-height: .999em;
    box-shadow: 0 4px 0 #9d1d37, 0 6px 1px 1px rgba(0, 0, 0, .3), 0 8px 0 5px #b43856, 0 10px 0 5px #992236, 0 13px 0 5px #8b1a2e, 0 13px 1px 6px rgba(0, 0, 0, .3);
}

.Bolinhas div::before {
    content: '';
    position: absolute;
    height: 12%;
    width: 20%;
    background: rgba(255, 255, 255, 0.7); /* Brilho */
    right: 32%;
    top: 10%;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
    transition: all 0.3s ease;
}

.Bolinhas div::after {
    content: '';
    position: absolute;
    height: 6%;
    width: 10%;
    background: rgba(255, 255, 255, 0.8);
    right: 19%;
    top: 30%;
    border-radius: 50%;
    box-shadow: 0 0 3px rgba(255, 255, 255, 0.5);
    transition: all 0.3s ease;
}

/* Atualizado para garantir que todas as bolinhas 2 a 6 são vermelhas */
.Bolinha2,
.Bolinha3,
.Bolinha4,
.Bolinha5,
.Bolinha6 {
    background: #A9A9A9 !important; /* Cinza */
    border-bottom: 3px solid #808080 !important; /* Borda cinza */
    border-top: 3px solid #D3D3D3 !important; /* Borda cinza */
    color: #fff !important;
    box-shadow: 0 6px 0 #808080, 0 8px 1px 1px rgba(0, 0, 0, .3), 0 10px 0 5px #696969, 0 12px 0 5px #808080, 0 15px 0 5px #808080, 0 15px 1px 6px rgba(0, 0, 0, .3) !important;
}

.Bolinha2:hover,
.Bolinha3:hover,
.Bolinha4:hover,
.Bolinha5:hover,
.Bolinha6:hover {
    box-shadow: 0 6px 0 #808080, 0 8px 1px 1px rgba(0, 0, 0, .3), 0 10px 0 5px #696969, 0 12px 0 5px #808080, 0 15px 0 5px #808080, 0 15px 1px 6px rgba(0, 0, 0, .3) !important;
}

.BlocoTomada .infoilha {
    position: fixed;
    top: 20px;
    right: -110px;
    background-color: #de234c; /* Same red as the bolinhas */
    transform: translateX(-50%);
    color: white;
    padding: 15px 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}
