.error-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Garantir que a altura ocupe toda a tela */
    background-color: #f8f8f8;
    font-family: 'Montserrat', sans-serif;
    color: #333;
}

.error-content {
    text-align: center;
    max-width: 600px;
    width: 100%; /* Ajusta a largura do conteúdo */
    padding: 30px;
    background-color: #fff;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.error-image {
   width: 100%; /* Ajusta a imagem para não ultrapassar os limites do card */
   max-width: 250px; /* Limita a largura da imagem */
   margin-bottom: 20px;
}

.error-code {
    font-size: 120px;
    color: #601798;
    font-weight: bold;
    margin: 0;
}

.error-message {
    font-size: 18px;
    margin-top: 20px;
    color: #555;
}

.error-button {
    margin-top: 30px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #601798;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.error-button:hover {
    background-color: #50148c; /* Leve alteração na cor para dar feedback no hover */
}

/* Adiciona um toque de animação no carregamento da página */
.error-container {
    animation: fadeIn 0.5s ease-in;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}