.top-container {
    display: flex;
    background-color: #8D23DE;
    padding: 2rem 10rem;
}

.container-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container-title {
    color: #FFF;
    font-size: 2.5rem;
    margin: 0;
}

.container-text {
    color: #FFF;
    font-size: 1.15rem;
}

.container-buttons {
    display: flex;
    gap: 10px;
}

.signup-button {
    font-size: 1rem;
    text-decoration: none;
    font-weight: 600;
    color: #FFF;
    background-color: #D92378;
    border-radius: 10px;
    padding: 0.500rem 1rem;
    display: flex;
    align-items: center;
}

.signin-button {
    color: #FFF;
    text-decoration: none;
    font-weight: 600;
    font-size: 1rem; 
    border: 2px solid #FFF; 
    border-radius: 10px;
    padding: 0.500rem 1rem;
    display: flex;
    align-items: center;
}