.container-valores .texto-missao p {
    color: #009CDE; 
    font-size: 56px; 
    font-weight: bold;
    margin: 0; 
    margin-top: 50px;
    margin-left: 20px;
    white-space: nowrap; 
}

.texto-missao {
    display: flex; 
    align-items: center; 
    gap: 10px; 
}

.texto-missao img {
    width: 100%; 
    height: auto; 
    margin-top: 50px;
}

.container-valores .descricao {
    margin-top: 0;
}

.container-valores .descricao p {
    color: #009CDE; 
    font-size: 25px;
    font-weight: 500;  
    margin-top: 20px; 
    margin-left: 20px;
}

.container-valores .texto-visao p {
    color: #4B1E8F; 
    font-size: 56px; 
    font-weight: bold;
    margin: 0; 
    margin-top: 50px;
    margin-right: 20px;
    text-align: end;
}

.container-valores .descricao-visao {
    margin-top: 0;
}

.container-valores .descricao-visao p {
    color: #4B1E8F; 
    font-size: 25px;
    font-weight: 500;  
    margin-top: 20px; 
    margin-right: 20px;
    text-align: right;
}
