.section-title {
    background-color: #4B1E8F;
    margin: 0;
    padding: 20px 0 0 0;
    font-size: 2.813rem;
    text-align: center;
    color: #FFF;
}

.user-feebacks-section {
    margin: 0 auto;
    padding: 0;
    background-color: #4B1E8F;
    background-size: cover;
    background-attachment: fixed;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-container {
    background-color: #F3F3F3; 
    max-width: 403px;
    z-index: 1;
    padding: 15px 10px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px 100px;
}

.user-name {
    font-size: 1.625rem;
    margin: 10px 0;
    color: #4B1E8F;
}

.user-text {
    font-weight: 500;
    color: #4B1E8F;
    margin: 0;
    padding: 0;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    gap: 0;
}

.swiper {
    display: flex;
    justify-content: center; 
    width: 100%; 
}

.swiper-slide {
    display: flex;
    justify-content: center; 
    width: 100%; 
    gap: 10px;
}


.swiper-pagination {
    display: flex;
    justify-content: center; 
}

.swiper-button-prev, .swiper-button-next {
    margin: 0 2%;
    z-index: 2; /* Altere conforme necessário */
}
