
.lista-recebe {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 20px 0;
    padding: 10px;
    border: 2px dashed #6aa84f;
    border-radius: 10px;
    background-color: #f9f9f9;
    width: 30vw;
    min-height: 50px;
    justify-content: center;
}
  
.palavra-recebe {
  padding: 5px;
  border: 2px solid #858585;
  border-radius: 10px;
  color: #535353;
  font-weight: 500;
  font-size: 1.2rem;
  box-shadow: 0 1px 4px 0 rgba(192, 208, 230, 0.8);
}
 
.lista-recebe.erro {
  background-color: #ffcccc; /* Vermelho claro */
  border-color: #ff0000; /* Bordas vermelhas */
}