.features-container {
    background-image: url(../../../../assets/imagens/homebackground.svg);
    padding: 290px 20px;
}

.right-content {
    background-color: #8D23DE;
    max-width: 33.313rem;
    border-radius: 0.938rem;
    padding: 1rem 2.5rem;
    margin-left: auto;
}

.left-content {
    background-color: #D92378;
    max-width: 33.313rem;
    border-radius: 0.938rem;
    padding: 0.5rem 1rem;
    margin-right: auto;
    margin-top: 400px;
}

.second-right-content {
    background-color: #8D23DE;
    max-width: 33.313rem;
    border-radius: 0.938rem;
    padding: 1rem 2.5rem;
    margin-left: auto;
    margin-top: 430px;
}

.top-info {
    display: flex;
}

.title-info {
    padding-left: 10px;
    color: #FFF;
}

.text-info {
    color: #FFF;
}