.features-container {
    background-image: url(../../../../assets/imagens/homebackground.svg);
    background-size: cover;
    display: flex;
    flex-direction: column; 
    align-items: center;
}

.right-content {
    background-color: #8D23DE;
    max-width: 33.313rem;
    border-radius: 0.938rem;
    padding: 1rem 2.5rem;
    margin-top: 16rem;
}

.left-content {
    background-color: #D92378;
    max-width: 33.313rem;
    border-radius: 0.938rem;
    padding: 1rem 2.5rem;
    margin-top: 16rem;
}

.second-right-content {
    background-color: #8D23DE;
    max-width: 33.313rem;
    border-radius: 0.938rem;
    padding: 1rem 2.5rem;
    margin: 24rem 0 10rem 0;
}

.top-info {
    display: flex;
}

.title-info {
    padding-left: 10px;
    color: #FFF;
}

.text-info {
    color: #FFF;
}